.Rproj.user
.Rhistory
.RData
.Ruserdata
ExCluster.Rproj
._GFF_convert.Rd
._ExCluster.Rd
._processCounts.Rd
._plotExonlog2FC.Rd
./man/_GFF_convert.Rd
./man/_ExCluster.Rd
./man/_processCounts.Rd
./man/_plotExonlog2FC.Rd
ExCluster-concordance.tex
ExCluster_examples.R
ExCluster.pdf
ExCluster.tex
ExCluster.synctex.gz
./vignettes/ExCluster-concordance.tex
./vignettes/ExCluster_examples.R
./vignettes/ExCluster.pdf
./vignettes/ExCluster.tex
./vignettes/ExCluster.synctex.gz
