export('GFF_convert')
export('processCounts')
export('ExCluster')
export('plotExonlog2FC')
# import packages
import('stats')
import('methods')
import('grDevices')
import('graphics')
import('utils')
importFrom('IRanges','IRanges')
import('Rsubread')
import('GenomicRanges')

