export('GFF_convert')
export('processCounts')
export('ExCluster')
export('plotExonlog2FC')
export('GRangesFromExClustResults')
export('GRangesFromGFF')
export('rtracklayerGTFtoGFF')
# import packages
import('stats')
import('methods')
import('grDevices')
import('graphics')
import('utils')
importFrom('IRanges','IRanges')
import('Rsubread')
import('GenomicRanges')
importFrom('rtracklayer','import')
importFrom('rtracklayer','export')
